<div class="edit_chat">
  <%= "Dr. #{locals[:chat].doctor.first_name} #{locals[:chat].doctor.last_name}" %>
  <div class="buttons">
    <%= button_to accept_chat_path(id: locals[:chat].id), class: 'accept' do %>
      <%= icon('check') %>
    <% end %>
    <%= button_to reject_chat_path(id: locals[:chat].id), class: 'reject' do %>
      <%= icon('times') %>
    <% end %>
  </div>
</div>

