<% @apt = @user.appointments.where(status: 'scheduled')  %>

<div class="simple-calendar <% current_class %>" style="padding:0;">
  <center>
  <% if current_class == "doctor" %>

      <%= calendar number_of_days: 5, events: @apt do |date, appointments| %>
        <%= date.day %>

        <% appointments.each do |appointment| %>
          <div>
            <%= appointment.patient.first_name %>
            <%= appointment.patient.last_name %><%= appointment.date.hour %>:<%= appointment.date.min %>
            <p><%= appointment.duration %> minutes</p>
          </div>
        <% end %>
      <% end %>


  <% elsif current_class == "patient" %>
      <%= week_calendar events: @apt do |date, appointments| %>
        <%= date.day %>

        <% appointments.each do |appointment| %>
          <div>
            <%= appointment.doctor.first_name %>
            <%= appointment.doctor.last_name %><%= appointment.date.hour %>:<%= appointment.date.min %>
            <p><%= appointment.duration %> minutes</p>
          </div>
        <% end %>
      <% end %>

  <% end %>
</center>
</div>


