<% messages = @chatroom.messages %>
<%= action_cable_meta_tag %>

<div id="chatroom">
  <div class="body">
    <% messages.each do |m| %>
      <%= render partial: 'shared/message', locals: { message: m } %>
    <% end %>
  </div>
  <div class="input">
    <%= form_tag('#', class: 'form-group') do %>
      <%= text_field_tag(:input, "", placeholder: "Enter your message", class: 'form-control', id: 'content') %>
      <%= button_tag(class: 'send btn btn-white') do %>
        <%= icon('paper-plane-o', id: 'send')  %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for(:js_content) do %>
  <%= javascript_include_tag 'chatroom' %>
<% end %>
