<div class="patient-card">
  <div class="card-avatar">
  <% if locals[:patient].avatar.url.nil? %>
    <%= image_tag "https://s3-eu-west-1.amazonaws.com/medi-co/Avatars/Circle.png" %>
  <% else %>
    <%= image_tag locals[:patient].avatar.url %>
  <% end %>
  <p><%= locals[:patient].first_name %> <br><%= locals[:patient].last_name %></p>
  </div>
  <div class="card-body">
    <% @apts = locals[:patient].appointments.where(doctor_id: current_active.id).where.not(status: "cancelled").where.not(status: "pending") %>
    <% if @apts.nil? %>
      <% if @apts.last.status == "scheduled" %>
        Next Appointment: <%= @apts.last.date %>
      <% elsif @apts.last.status == "done" %>
        Last Appointment: <%= @apts.last.date %>
      <% end %>
      <% if @apts.prescriptions.last.nil? %>
        No previous prescriptions
      <% else %>
        <% link_to @apts.prescriptions.last do %>
          Previous Prescription
        <% end %>
      <% end %>
    <% else %>
      No previous appointments
    <% end %>

  </div>
  <div class="card-button <%= current_class %>">
    <%= button_to '#' do %>
      <%= icon('paperclip') %>
    <% end %>
    <%= button_to locals[:patient], method: :get, form_class: "important" do %>
      <%= icon('paper-plane-o') %>
    <% end %>
    <%= button_to '#', remote: true, 'data-toggle': 'modal', 'data-target': "#appointment-form-#{locals[:patient].id}" do %>
      <%= icon('calendar') %>
    <% end %>
  </div>
</div>

<%= render 'appointments/new', locals: { patient: locals[:patient] } %>
