<div id="doctor-login" class="login hidden">
  <div class="log-in-form">
    <div class ="col-sm-6">
      <h2>Please Log-in here</h2>

      <%= simple_form_for(:doctor, :url => session_path(:doctor)) do |f| %>
      <%= f.text_field :email, placeholder: "e-mail", class: 'text-field' %>
      <%= f.password_field :password, placeholder: "password", class: 'text-field' %>
      <%= f.input :remember_me, as: :boolean %>
      <div class="buttons">
        <%= f.submit 'Log- in', class: 'btn doctor' %>
        <p><%= link_to "Forgot your password?", new_password_path(:doctor) %></p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="sign-up-form">
    <div class= "col-sm-6">
      <h2>
      Sign Up</h2>
      <%= simple_form_for(:doctor, :url => registration_path(:doctor)) do |f| %>
      <%= f.text_field :email, placeholder: "e-mail", class: 'text-field' %>
      <%= f.password_field :password, placeholder: "password", class: 'text-field' %>
      <%= f.password_field :password, placeholder: "confirm password", class: 'text-field' %>
      <%= f.input :remember_me, as: :boolean %>
      <div class="buttons">
        <%= f.submit 'Sign up', class: 'btn doctor' %>
        <p><%= link_to "Forgot your password?", new_password_path(:doctor) %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>