<div class='navbar-wagon <%= action_name == "home" ? "initial" : "scrolled nav-#{current_class}" %>' id="navbar">
  <% if action_name == "home" %>
  <i class="fa fa-bars fa-4x" id="hamburger-btn"></i>
  <% end %>
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <% if (patient_signed_in? or doctor_signed_in?) && action_name != "home" %>
  <%= image_tag "https://s3-eu-west-1.amazonaws.com/medi-co/Images/whitelogo.png" %>
  <% else %>
  <%= image_tag "https://s3-eu-west-1.amazonaws.com/medi-co/Logos/medi-co.png" %>
  <% end %>
  <% end %>

  <div class="navbar-wagon-right hidden-xs hidden-sm <%= action_name == "home" ? 'hidden' : '' %>" id="navbar-menu">
    <!-- Right Navigation -->
    <% unless doctor_signed_in? or patient_signed_in? %>
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div class="navbar-wagon-item navbar-wagon-link">Our Services</div>
      <div class="navbar-wagon-item navbar-wagon-link">Questions</div>
      <div class="navbar-wagon-item navbar-wagon-link">Testimonials</div>
    </div>
    <% end %>

    <% if doctor_signed_in? %>

    <a href="#" class="navbar-wagon-item navbar-wagon-link">Our Services</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">Questions</a>
    <%= link_to 'Dashboard', dashboard_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to t(".sign_out", default: "Logout"), destroy_doctor_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
    <% elsif patient_signed_in? %>

   <a href="#" class="navbar-wagon-item navbar-wagon-link">Our Services</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">Questions</a>
    <%= link_to 'Dashboard', dashboard_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to t(".sign_out", default: "Logout"), destroy_patient_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_in", default: "Login"), sign_in_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <% if doctor_signed_in? %>
          <li><a href="#" class="navbar-wagon-item navbar-wagon-link">Our Services</a></li>
          <li><a href="#" class="navbar-wagon-item navbar-wagon-link">Questions</a></li>
          <%= link_to 'Dashboard', dashboard_path %>
          <%= link_to t(".sign_out", default: "Logout"), destroy_doctor_session_path, method: :delete %>

          <% elsif patient_signed_in? %>
          <li><a href="#" class="navbar-wagon-item navbar-wagon-link">Our Services</a></li>
          <li><a href="#" class="navbar-wagon-item navbar-wagon-link">Questions</a></li>
          <%= link_to 'Dashboard', dashboard_path %>
          <%= link_to t(".sign_out", default: "Logout"), destroy_patient_session_path, method: :delete %>
          <% else %>
          <!-- Login link (when logged out) -->
          <%= link_to t(".sign_in", default: "Login"), sign_in_path %>
          <% end %>
        </li>
        <li><a href="#" class="navbar-wagon-item navbar-wagon-link">Our Services</a></li>
        <li><a href="#" class="navbar-wagon-item navbar-wagon-link">Questions</a></li>
      </ul>
    </div>
  </div>
</div>

