<div class="navbar-wagon nav-<%= current_class %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "https://s3-eu-west-1.amazonaws.com/medi-co/Logos/medi-co.png" %>
  <% end %>

  <!-- Right Navigation -->
  <% if doctor_signed_in? %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Dashboard', dashboard_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to t(".sign_out", default: "Logout"), destroy_doctor_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <% elsif patient_signed_in? %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Dashboard', dashboard_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to t(".sign_out", default: "Logout"), destroy_patient_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <% else %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Login link (when logged out) -->

    <div class="navbar-wagon-item navbar-wagon-link">Our Services</div>
    <div class="navbar-wagon-item navbar-wagon-link">Questions</div>
    <div class="navbar-wagon-item navbar-wagon-link">Testimonials</div>
    <%= link_to t(".sign_in", default: "Login"), sign_in_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <% end %>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

