<div class="wrapper hidden patient-wrapper" id="landing-patient">
  <div class="row">
    <div class="card_one" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%), url('https://s3-eu-west-1.amazonaws.com/medi-co/Images/nick-hillier-215633.jpg');">
      <div class="card_one_box">
        <h3>The flexibility to take control of your health anywhere</h3>

        <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
          <div class="grid-landing">

            <div class="row" style="margin: 0;">
              <div class="col-xs-12 col-sm-6 benefit-icons">
                <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/docs.png', :width=>70) %>
                <p>Securely receive documents from doctors</p>
              </div>
              <div class="col-xs-12 col-sm-6 benefit-icons">
                <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/wallet_icon.png', :width=>70) %>
                <p>Save Time and Money</p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 benefit-icons">
               <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/smart_phone.png', :width=>70) %>
               <p>Get answers faster</p>
             </div>
             <div class="col-xs-12 col-sm-6 benefit-icons">
              <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/waiting_icon.png', :width=>70) %>
              <p>Avoid Waiting Rooms</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card_two" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%), url('https://s3-eu-west-1.amazonaws.com/medi-co/Images/desktop_patient_mockup.jpg');">

    <div class="card_two_box">
      <h3>A better way to connect with your doctor</h3>
      <p>Instantly communicate and share with your doctor on our  Medi-co chat feature.</p>
      <p>Easy to use tools that allow you to:</p>
      <ul>
        <li>conveniently instant message your doctor</li>
        <li>securely and quickly receive critical documents
        from your doctor</li>
      </ul>
    </div>
  </div>





  <div class="card_three" style= "background-color: white;">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card-three-image">
          <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Images/iphone_patient_mockup.jpg', :width=>550) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-three-content">
          <h3>A better way to connect with your health</h3>
          <p>Easily and efficiently learn about your health and wellbeing on your Medi-co dashboard.</p>
          <p>Simple access to:</p>
          <ul>
            <li>a history of conversations with your doctor</li>
            <li>documents confidentially shared with you</li>
            <li>upcoming scheduled doctor visits</li>
            <li>list of medications and their take schedules</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>





