<div class="patient-profile-information">
  <p><strong>Birthdate</strong>: <%= @patient.birthday %></p>
  <p><strong>Sex:</strong> <%= @patient.sex %></p>
  <p><strong>Bloodtype:</strong> <%= @patient.bloodtype %></p>
  <p><strong>Disability:</strong> <%= @patient.disability %></p>
  <p><strong>Marital Status:</strong> <%= @patient.marital_status %></p>
  <p><strong>Education:</strong> <%= @patient.education %></p>
  <p><strong>Occupation:</strong> <%= @patient.occupation %></p>
  <p><strong>Religion:</strong> <%= @patient.religion %></p>
</div>
