<div class="profile-dashboard">
  <div class="user-name">
  <% if @user.avatar.url.nil? %>
    <%= image_tag "https://s3-eu-west-1.amazonaws.com/medi-co/Avatars/Circle.png" %>
  <% else %>
    <%= image_tag @user.avatar.url %>
  <% end %>
  <div class="name">
  <p><%= @user.first_name %> <br><%= @user.last_name %></p>
  </div>
  </div>
  <div class="link-list">
    <ul class="list-group">
      <% if @user.class.to_s == "Doctor" %>
        <a href="#"><li id="<%= current_class %>" class="list-group-item">Doctor Invitations</li></a>
      <% else %>
        <a href="#"><li  id="<%= current_class %>" class="list-group-item">Invite a Patient</li></a>
      <% end %>
      <a href="#"><li class="list-group-item">Settings</li></a>
      <a href="#"><li class="list-group-item">Log-out</li></a>
    </ul>
  </div>
</div>
