<h1>Welcome to your dashboard</h1>
<%= @user.class %>

<h2><%= t "devise.invitations.new.header" %></h2>

 <%= form_for(Patient.new, url: invite_path) do |f| %>
   <%= devise_error_messages! %>


   <%= f.text_field :email %>


  <%= f.submit %>
 <% end %>
