<div class="container">

  <h1>Settings</h1>
  <%= simple_form_for(@user) do |f| %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= @specialties %>
  <% if current_class == "doctor" %>
  <%= f.input :specialty_id, collection: Specialty.all.order(:name).collect { |i| [i.name, i.id] }, include_blank: true %>
  <% else %>
  <div class="flex-on">
    <div style="width: 50%; border-right: 1px solid #84dcc6; padding: 10px 20px;">
      <strong>Sex</strong>
      <%= f.input :sex, label: false, collection: ['Male', 'Female', 'Other'], as: :radio_buttons, input_class: "form-check-input"  %>
      <strong>Bloodtype</strong>
      <%= f.input :bloodtype, label: false,collection: ['A', 'B', 'O', 'AB'], as: :radio_buttons, input_class: "form-check-input"  %>
      <strong>Education</strong>
      <%= f.input :education, label: false, collection: ['Basic Education', 'High School', 'College', 'Other'], as: :radio_buttons, input_class: "form-check-input" %>
    </div>
    <div style="width: 50%; padding: 10px 20px;">
      <strong>Marital Status</strong>
      <%= f.input :marital_status, label: false, collection: ['Married', 'Single', 'Other'], as: :radio_buttons, input_class: "form-check-input"  %>
      <strong>Occupation</strong>
      <%= f.input :occupation, label: false, collection: ['Retired', 'Full-time job', 'Student', 'Not working', 'Other'], as: :radio_buttons, input_class: "form-check-input"  %>
    </div>
  </div>
  <%= f.input :disability %>
  <% end %>
  <%= f.submit "Update Information", class: 'btn btn-primary' %>
  <% end %>


  <% if current_active.sign_in_count == 1 && current_class == "patient" %>
    <%= render 'shared/patient_onboard_modal' %>
  <% elsif current_active.sign_in_count == 1 && current_class == "doctor"%>
    <%= render 'shared/doctor_onboard_modal' %>
  <% end %>

</div>
<% content_for :js_content do %>
  <script>
    $(document).ready(function() {
      $('#modal-click').click();
    });

    <% if current_active.sign_in_count == 1 && current_class == "patient" %>

      const btn1 = document.getElementById('btn-1');
      const btn2 = document.getElementById('btn-2');
      const btn3 = document.getElementById('btn-3');
      console.log(btn1);

      btn1.addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('left').classList.remove('hidden');
        document.getElementById('center').classList.add('hidden');
        document.getElementById('right').classList.add('hidden');
      });
      btn2.addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('center').classList.remove('hidden');
        document.getElementById('left').classList.add('hidden');
        document.getElementById('right').classList.add('hidden');
      });
      btn3.addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('right').classList.remove('hidden');
        document.getElementById('center').classList.add('hidden');
        document.getElementById('left').classList.add('hidden');
      });
    <% else %>
     const btnOne = document.getElementById('btn-one');
     const btnTwo = document.getElementById('btn-two');
     const btnThree = document.getElementById('btn-three');

     const docLeft = document.getElementById('doc-left');
     const docCenter = document.getElementById('doc-center');
     const docRight = document.getElementById('doc-right');
     console.log(btnTwo);

     btnOne.addEventListener('click', function(e) {
      e.preventDefault();
      docLeft.classList.remove('hidden');
      docCenter.classList.add('hidden');
      docRight.classList.add('hidden');
      });

      btnTwo.addEventListener('click', function(e) {
        e.preventDefault();
        docCenter.classList.remove('hidden');
        docLeft.classList.add('hidden');
        docRight.classList.add('hidden');
      });

      btnThree.addEventListener('click', function(e) {
        e.preventDefault();
        docRight.classList.remove('hidden');
        docCenter.classList.add('hidden');
        docLeft.classList.add('hidden');
      });

    <% end %>
  </script>
<% end %>

<%= content_for :title do %>
  Settings
<% end %>
