
<div class="sign-in-form">
  <div id="login-buttons">
    <div>
      <h2>You are a:</h2>
    </div>
    <ul class="list list-inline" id="question">
      <a href="#" class= "btn btn-primary btn-lg" id="doctor" data-toggle="modal" data-target="#doctormodal"> Doctor </a>
      <a href="#"" class= "btn btn-success btn-lg" id= "patient" data-toggle="modal" data-target="#patientmodal"> Patient</a>
    </ul>
  </div>
</div>
<div class="login">
<% @resources.each do |resource| %>
<div class="modal fade" id="<%= resource.to_s %>modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <ul class="nav nav-tabs">
          <li class="active"><a  data-toggle="tab" href="#<%= resource.to_s %>login">Sign In</a></li>
          <li><a data-toggle="tab" href="#<%= resource.to_s %>signup">New Account</a></li>
        </ul>
<!--         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
 -->      </div>

      <div class="modal-body">
        <div class="tab-content">

          <div id="<%= resource.to_s %>login" class="tab-pane fade in active">
       <!--      <h3>Login here</h3> -->
            <%= simple_form_for(resource, :url => session_path(resource)) do |f| %>
            <%= f.text_field :email, placeholder: "E-mail", class: 'text-field', :size => 39 %>
            <p></p>
            <%= f.password_field :password, placeholder: "Password", class: 'text-field', :size => 39 %>
            <p></p>
            <%= f.input :remember_me, as: :boolean, class: "accept" %>
            <div class="buttons">
              <%= f.submit 'Log-in', class: 'btn patient', :size => 39  %>
            </div>
              <p><%= link_to "Forgot your password?", new_password_path(resource), class: "forgot" %></p>
            <% end %>
          </div>


          <div id="<%= resource.to_s %>signup" class="tab-pane fade">
   <!--          <h3>Signup here</h3> -->
            <%= simple_form_for(resource, :url => registration_path(resource)) do |f| %>
            <%= f.text_field :email, placeholder: "E-mail", class: 'text-field' , :size => 39 %>
            <p></p>
            <p></p>
            <%= f.password_field :password, placeholder: "Password", class: 'text-field' , :size => 39  %>
            <p></p>
            <p></p>
            <%= f.password_field :password, placeholder: "Confirm password", class: 'text-field', :size => 39  %>
            <div class="buttons">
              <%= f.submit 'Sign up', class: 'btn patient', :size => 39 %>
            </div>

            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>


</div>
