<div class="show-div patient">
  <div class="left-bar">
    <%= render 'shared/profile', locals: { user: @doctor } %>
    <% if current_class == 'patient' %>
    <div class="medications">
      <h5>Medications:</h5>
      <%#= render 'shared/medications', locals: { user: user } %>
    </div>
    <% else %>
    <div class="calendar" style="background-color: white; border-radius: 3px;">
          <%= render 'shared/calendar', locals: { user: @doctor } %>
</div>
<!--     <div class="link-list">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#">Add a Prescription</a>
        </li>
        <li class="list-group-item">
          <a href="#">Manage your appointments</a>
        </li>
        <li class="list-group-item">
          <a href="#">Search for a Medication</a>
        </li>
      </ul>
    </div> -->
    <% end %>
  </div>

  <div class="center-bar">
      <%= render 'messages/messages' %>
  </div>


  <div class="right-bar">
    <%= render 'shared/appointments', locals: { user: @doctor } %>
    <div class="documents" style="background-color: white; border-radius: 3px;">

      <h4> Documents list: </h4>

<ul class="list-group">

<% if @doctor.documents.empty? %>
  <li class="list-group-item">You don't have any Documents :( </li>
<% end %>
           <% @doctor.documents.each do |doc| %>
  <li class="list-group-item">
    <button type="submit">
    <i class="fa fa-paper-plane-o"></i>
  </button>
    <%= link_to doc.file.url, target: "_blank" do %>
      <%= doc.name %></strong> <br>
    <% end %>
     </li>

<% end %>
</ul>
    </div>
  </div>
</div>


<%#= render partial: 'shared/_unbind.js' %>
<% content_for(:js_content) do %>
<script>
  $('#update').on('hidden', function (e) {
    $(e.currentTarget).unbind(); // or $(this)
});

$('#invite').on('hidden', function (e) {
    $(e.currentTarget).unbind(); // or $(this)
});

$('#document-form').on('hidden', function (e) {
    $(e.currentTarget).unbind(); // or $(this)
});
</script>
<% end %>



