<div class="show-div patient dashboard">
  <div class="left-bar">
    <%= render 'shared/profile', locals: { user: @patient } %>

    <div class="patient-profile" style="background-color: white; border-radius: 3px;">
      <%= render 'shared/patient_profile' %>
    </div>

  </div>

  <div class="center-bar">
    <%= render 'messages/messages' %>
  </div>


  <div class="right-bar">
    <%= render 'shared/appointments', locals: { user: @doctor } %>
    <div class="documents" style="background-color: white; border-radius: 3px;">

      <%= render "shared/documents", locals: { user: @doctor } %>


    </div>
  </div>
</div>

<%= render partial: 'shared/symptoms' %>

<%= content_for :title do %>
  <%= @patient.first_name %> - Medi-co
<% end %>
