<div class="show-div doctor dashboard">
  <div class="left-bar">
    <%= render 'shared/profile', locals: { user: @doctor } %>

    <div class="medications" style="background-color: white; border-radius: 3px;">
    <h5>Medication</h5>
      <%= render 'shared/medication_progress', locals: { prescription: current_active.prescriptions.last } %>
    </div>
  </div>

  <div class="center-bar">
    <%= render 'messages/messages' %>
  </div>

  <div class="right-bar">
    <%= render 'shared/appointments', locals: { user: @patient } %>
    <div class="documents" style="background-color: white; border-radius: 3px;">
<%= render "shared/documents",  locals: { user: @patient }  %>
    </div>
  </div>
</div>

<%= render partial: 'shared/symptoms' %>

<%= content_for :title do %>
  Dr. <%= @doctor.first_name %> - Medi-co
<% end %>



