<div class="show-div doctor dashboard">
  <div class="left-bar">
    <%= render 'shared/profile', locals: { user: @doctor } %>
    <div class="medications-block" style="padding-top: 5px; width: 100%; margin:20px 0px 0px 0px">
    <h3>Medication</h3>
      <%= render 'shared/medication_progress', locals: { prescription: current_active.prescriptions.last } %>
    </div>
  </div>

  <div class="center-bar">
    <%= render 'messages/messages' %>
  </div>

  <div class="right-bar">
    <%= render 'shared/appointments', locals: { user: @patient } %>
    <div class="documents" style="background-color: white; border-radius: 3px;">
      <h4> Documents list: </h4>

      <ul class="list-group">

        <% if @patient.documents.empty? %>
        <li class="list-group-item">You don't have any Documents :( </li>
        <% end %>
        <% @patient.documents.each do |doc| %>

        <%= form_for([@receiver, @chat, @message], remote: true, class: 'form-group') do |f| %>
        <%= f.hidden_field :content, class: 'form-control', id: 'content', value: doc.file.url %><br, style="height: 2px">
        <%= hidden_field_tag 'sender', current_class %>
        <li class="list-group-item">
          <button type="submit" class="filesend", style="background-color: #84dcc6; color: white; border:none">
            <i class="fa fa-paper-plane-o"></i>
          </button>
          <%= link_to doc.file.url, target: "_blank" do %>
          <%= doc.name %></strong>
          <% end %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render partial: 'shared/symptoms' %>
