<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="chatid" <%= content_for?(:chatid_content) ? yield(:chatid_content) : "no chat"%>>
  <meta name="receiver_class" content="<%= current_class %>">

  <title><%= content_for?(:title) ? yield(:title) : "Medi-Co  - A smarter way to communicate between doctors and patients" %></title>
  <meta name="description" content="Medi-Co is a smarter way to communicate between doctors and patients">
  <!-- Facebook -->
  <meta property="og:title" content="Medi-Co  - Engage with your health">
  <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/medi-co/Images/FB+Photo.png">
  <meta property="og:description" content="Medi-Co is a smarter way to communicate between doctors and patients">
  <meta property="og:site_name" content="Medi-Co"/>
  <meta property="og:url" content="https://www.medi-co.pt"/>
  <meta property="og:type" content="website"/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <!-- <meta name="twitter:site" content="@Lewagonparis"> -->
  <meta name="twitter:title" content="Medi-Co  - Engage with your health">
  <meta name="twitter:description" content="Medi-Co  - A smarter way to communicate between doctors and patients">
  <!-- <meta name="twitter:creator" content="@Lewagonparis"> -->
  <meta name="twitter:image:src" content="https://s3-eu-west-1.amazonaws.com/medi-co/Images/FB+Photo.png">


  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
</style>
</head>
<body class="<%= controller_name %>-<%= action_name %>">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>

  <%#= render 'shared/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= yield(:js_content) %>
</body>
</html>
